@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* START OF HEADER */
.header {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 4px 15px -1px rgba(209, 81, 45, 0.5);
  box-shadow: 1px 1px 10px -1px rgba(209, 81, 45, 0.5);
}

.headerLink {
  text-decoration: none;
  color: #411530;
}

.headerLink:hover {
  color: #d1512d;
}
.headerLink:focus {
  color: #958888;
}

.headerList {
  display: flex;
  justify-content: space-between;
}

.headerListItem {
  list-style: none;
  margin: 0.5rem;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.2rem;
  background-color: #d1512d;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* END OF HEADER */

/* START OF FORM */

.sectionTitle {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: #411530;
}
.sectionText {
  text-align: center;
  font-size: 1rem;
  color: #411530;
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.inputGroup {
  margin: 1rem;
}

.inputGroupItem {
  border-radius: 0.5rem;
  width: 20rem;
  height: 2rem;
  border: 0.05rem solid #411530;
  padding: 0.2rem;
}

.inputGroupItem:focus {
  outline: none;
}
.centerElement {
  display: flex;
}
.formSubmitBtn {
  margin: auto;
  width: 93%;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #411530;
  color: #fff;
  font-size: 1.2rem;
}

/* END OF FORM */

/* START OF HOME PAGE */

.homeOptions {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.homeBtn {
  margin: 3rem 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  width: 20rem;
  text-align: center;
  text-transform: uppercase;
}
.newBook {
  background-color: #411530;
  /* margin-right: 2rem; */
}
.lists {
  background-color: #d1512d;
}
